/* background color => body: #222
font: system-ui */
*{
    margin: 0;
    padding: 0;
}
body{
    background: #222;
    color: #fff;
    font-family: system-ui;
    font-size: 20px;
}
.crud{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    color: white;
    margin: 5px 0;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
}
input:focus{
    background: #000;
    transform: scaleX(1.02);
}
.price input{
    width: 20%;
    margin-right: 1%;
}
#total{
    background: purple;
    border-radius: 10px;
    padding: 5px 2px;
}
#total::before{
    content: 'Total: ';
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    background: rgb(110, 60, 178);
    transition: 0.5s;
    margin: 4px 0;
}
button:hover{
    background:rgb(89, 40, 138);
    letter-spacing: 1px;
}
/* #submit{
    margin: 25px 0;
} */
.btnSearch{
    display: flex;
    justify-content: space-between;
    
}
.outputs{
    margin-top: 20px;
}
.btnSearch button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
}
th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}
#deleteAll{
    margin: 25px 0;
    display: none;
}